<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1>{{ page.header }}</h1>
        <div class="pageHolder">
          <div class="floatonelineleft">
            {{ content }}
          </div>
          <div class="floatonelinecenter">&nbsp;</div>

          <div class="floatonelineright">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2211.8987666836415!2d-3.8343976861672413!3d56.331576866113465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x9f0a8c02f8ed9471!2sMcLeans!5e0!3m2!1sen!2suk!4v1464814138104" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
